name: Build and Deploy to aaPanel

on:
  push:
    branches:
      - main

jobs:
  build-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install dependencies
        run: npm ci

      - name: Build project
        run: npm run build

      - name: Deploy build to server
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.AA_HOST }}
          username: ${{ secrets.AA_USER }}
          key: ${{ secrets.AA_SSH_KEY }}
          source: "dist/*"
          target: ${{ secrets.AA_PATH }}
